.DS_Store
__pycache__/*
*.pyc
*/*.pyc
__pycache__/
run_results/
experiment_results/
experiment_results_1/
experiment_results_2/
experiment_results_binarySweep/
experiment_results_001/
experiment_results_002/
experiment_results_003/
experiment_results_004/
experiment_results_005/
experiment_results_006/
experiment_results_007/
experiment_results_008/
experiment_results_009/
experiment_results_010/
experiment_results_011/
experiment_results_012/
experiment_results_013/
experiment_results_014/
experiment_results_015/
experiment_results_016/
experiment_results_017/
experiment_results_018/
experiment_results_019/
experiment_results_020/
experiment_results_021/
experiment_results_022/
experiment_results_023/
experiment_results_024/
experiment_results_025/
experiment_results_026/
experiment_results_027/
experiment_results_028/
experiment_results_029/
experiment_results_030/